---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/rippleui@1.12.1/dist/css/styles.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/styles.css" />
    <title>Astro</title>
  </head>
  <body>
    <h1
      class="mt-56 flex flex-col justify-center items-center text-5xl p-4 text-bold from-purple-600 via-pink-600 to-blue-600 bg-gradient-to-r bg-clip-text text-transparent"
    >
      Coming Soon...
    </h1>
	<div class="divider divider-horizontal">FAQ</div>

	<div class="accordion-group accordion-group-bordered">
		<div class="accordion" tabindex="0">
			<label class="accordion-title">What is compages.me?</label>
			<div class="accordion-content">
				<div class="min-h-0">compages.me is a platform made for students, undergrads, workers, freelancers, etc. It is made to help the everyday person with organization, time management, scheduling, communcating, and more.</div>
			</div>
		</div>
		<div class="accordion" tabindex="0">
			<label class="accordion-title">When is compages releasing?</label>
			<div class="accordion-content">
				<div class="min-h-0">The first release of compages is planned to release in August to mid-september of 2024.</div>
			</div>
		</div>
    <div class="accordion" tabindex="0">
			<label class="accordion-title">What is compages origin?</label>
			<div class="accordion-content">
				<div class="min-h-0">compages is made by Hamza Elashry, he has seen how many people in their everyday lives become less and less productive due to them not planning effienctly or not having a planner, so to help he is making compages.</div>
			</div>
		</div>
	</div>
  </body>
</html>
